* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  margin: 0%;
  background: linear-gradient(45deg, red, #050303);
  background-size: 400%, 400%;
  position: relative;
  animation: cambiar 5s ease-in-out infinite;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
nav img {
  width: 90px;
  padding: 5px;
}
nav ol {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
nav ol li {
  margin: 10px;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: #530000;
  color: white;
}
@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
button {
  padding: 0.2em 0.5em;
  margin: 10px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.Banner {
  max-width: 100%;
  height: auto;
}
h1 {
  color: white;
}
