body {
  width: auto;
  margin: 0%;
  background-color: #10061e;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
nav img {
  width: 90px;
  padding: 5px;
}
nav ol {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
nav ol li {
  margin: 10px;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: #530000;
  color: white;
}
